@model UrunTakip.Models.Entity.TBL_Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:green" })

    </div>
    <div>
        <label>Müşteri Soyadı</label>
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control"  })
        @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style = "color:green" })

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="BtnMusEkle">Müşteri Ekle</button>
    </div>

</form>
<script>
    $('#BtnMusEkle').click(function () {
        alert('Müşteri Ekleme İşlemi Başarılı.');
    });
</script>
